:root {
    --ion-color-primary: #4a4a4a;
    --ion-color-primary-rgb: 74, 74, 74;
    --ion-color-secondary: #666666;
    --ion-color-secondary-rgb: 102, 102, 102;
    --ion-color-tertiary: #999999;
    --ion-color-tertiary-rgb: 153, 153, 153;
    --ion-color-medium: #b3b3b3;
    --ion-color-medium-rgb: 179, 179, 179;
    --ion-color-light: #e6e6e6;
    --ion-color-light-rgb: 230, 230, 230;
    --ion-color-dark: #1a1a1a;
    --ion-color-dark-rgb: 26, 26, 26;
  }
  