<ion-header>
  <ion-toolbar>
    <ion-title>Resumen de Compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cart">
      <ion-thumbnail slot="start">
        <img [src]="item.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.title }}</h2>
        <p>{{ item.price | currency }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Total: {{ total | currency }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-button expand="full" (click)="goToHome()">Volver al inicio</ion-button>
</ion-content>
